<div class="form-post">
  <input type="text" name="{{ name }}" value="{{ flashMessages.get(name) || value||''}}" placeholder="{{name}}">
</div>
@if(flashMessages.has(`errors.${name}`))

      <h2>{{ flashMessages.get(`errors.${name}`)}}</h2>

@endif
