<div class="form-post">
  <textarea rows="5"  name="{{ name }}" value="{{ flashMessages.get(name) || value.trim()||''}}" placeholder="{{name}}">
    {{value}}
  </textarea>
  @if(flashMessages.has(`errors.${name}`))

      <h2>{{ flashMessages.get(`errors.${name}`)}}</h2>

@endif
</div>
