@layout("layouts/layout")

@section('content')
<div class="container">
  <form action="{{route('article.store') }}" method="post">
    @!component('components/input',
    {'name': 'title', 'value': null})

@!component('components/textarea',
{'name': 'content', 'value': ''})
<br>
     <button class="btn" type="submit">Enregistrer</button>
  </form>
</div>

@endsection
