@layout("layouts/layout")

@section('content')

  <div class="container">
    <form action="#" method="post">
      <input type="text" name="title" placeholder="titre de l'article">
      <textarea name="content" id="" placeholder="contenu de votre article" cols="30" rows="10"></textarea>
      <button type="submit">Enregistrer</button>
    </form>
  </div>

@endsection
