@layout("layouts/layout")

@section('content')
<div class="container">
  <form action="{{route('article.update', [article.id+1]) }}" method="post">
    @!component('components/input',
    {'name': 'title', 'value': article.title})

@!component('components/textarea',
{'name': 'content', 'value': article.content})
<br>
     <button class="btn" type="submit">Enregistrer</button>
  </form>
</div>

@endsection
