@layout('layouts/layout')

@section('content')
<div>

  <h1>Blog Adonis </h1>
  <div class="container">
    <div class="li">
      @each(article in articles)
      <li><a href="#">{{ article.title }}</a></li>
      <button class="btn"> modifier </button>
      <button class="btn">supprimer</button>
      <button class="btn"> <a href="{{route('article.edit', [(article.id +1)]) }}"> voir </a> </button>
      @endeach
    </div>

  </div>

</div>
@endsection
