<nav class="nav-bar mobile-menu">
  <div class="logo">Blog Adonis</div>
  <div class="link">
    <a href="{{route('accueil')}}">Accueil</a>
    <a href="{{route('article.add')}}">Article</a>
    <a href="#">Connexion  </a>
    <a href="#">A propos</a>
  </div>
</nav>
